@font-face {
    font-family: "Inter";
    src: url(./assets/fonts/Inter-VariableFont_opsz\,wght.ttf) format("tff");
}

@font-face {
    font-family: "JetBrainsMono";
    src: url(./assets/fonts/JetBrainsMono-VariableFont_wght.ttf) format("tff");
}