@import "tailwindcss";
@import url("./App.css");
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@theme {
  /* ===== Brand ===== */

  --font-display: "Inter", sans-serif;
  --font-technical: "JetBrainsMono", monospace;
  --color-primary: #0B66FE;
  --color-secondary: #6B7784;

  /* ===== Light Mode ===== */
  --color-light-bg: #ffffff;
  --color-light-fg: #F1F4F8;
  --color-light-border: var(--color-slate-200);
  --color-coral-black: #1B1D22;

  /* ===== Dark Mode ===== */
  --color-dark-bg: #0A0E15;
  --color-dark-fg: #0B111C;
  --color-dark-surface: #161B22;
  --color-dark-border: #151C2B;
  --color-dark-accent: #0E162A;

  /* ===== Status ===== */
  --color-success: #22c55e;
  --color-warning: #facc15;
  --color-error: #ef4444;

  /* ===== Radius ===== */
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;

  /* ===== Shadows ===== */
  --shadow-card: 0 10px 30px rgba(0, 0, 0, 0.12);
  --shadow-soft: 0 20px 40px rgba(0, 0, 0, 0.15);

  /* ===== Typography ===== */
  --font-sans: "Inter", ui-sans-serif, system-ui;

  --text-hero: 3rem;
  --text-section: 1.875rem;
  --text-card-title: 1.125rem;
  --text-body: 1rem;
  --text-small: 0.875rem;
  --text-tiny: 0.75rem;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    /* background-color: var(--color-dark); */
  }

*::-webkit-scrollbar-thumb {
    background-color: var(--color-dark-surface);
    border-radius: 999px;
  }

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary);
  }

@layer base {
  body {
    @apply bg-light-bg dark:bg-dark-bg font-display;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

/* @layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;  
  }
  .scrollbar-thumb {
    scrollbar-color: var(--color-primary) transparent;
  }

} */

